@tailwind base;
@tailwind components;
@tailwind utilities;

  
  @font-face {
    font-family: "Kanit-Light";
    src: url("./fonts/Kanit-Light.ttf");
    font-weight: light;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Kanit";
    src: url("./fonts/Kanit-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  .custom-h-screen-minus-16 {
    height: calc(100vh - 138px); /* 64px คือความสูงของเมนู */
  }

  .star-icon svg:hover {
    color: #ffffff;
  }

  input[type="number"] {
    font-size: 16px;
  }